.color {
    width: 300px;
    height: 300px;
    position: relative;

    &__bar {
        background-color: #3e90e1;
        color: white;
        position: absolute;
        bottom: 0;
    }

    &__delete{
        @include btn();
        position: absolute;
        right: 0;
        margin: 5px;
        padding: 5px 7px;
    }
}