@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn() {
    background-color: rgb(229, 229, 229);
    border: 1px solid rgb(85, 85, 85);
    padding: 10px 15px;
    text-transform: capitalize;
    border-radius: 2px;

    &:focus-visible {
        outline: 0;
    }
}
